/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
} 


.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

@keyframes transitionIn {
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }
    to {
        opacity:1;
        transform: rotateX(-10deg);
    }
}

body {
    max-width: 100%;
    /* background-color: #ffffff; */
    background-image: url("https://pa1.narvii.com/7554/00f7d4fe69da758ad2056d34d493ece84ecfbdefr1-480-364_hq.gif");
    background-size: 100%;
    background-repeat: no-repeat; 
    background-position: flex;
    /* background-attachment: fixed; */
}
    body{

    font-family: Arial;
    font-size: 2vw;
    position: flex;
}

#container {
    margin: 50px 0 0 0;
    text-align: center;
    position: flex;
}

#text {
    display: center;
    color: #ffffff;
    margin-top: 6%;
    position: flex;
}


video {
    width: 50%;
    height: 75%;
    position: flex ;
    margin-left: 25%;
    margin-top: 4%;
}

/* input[type=button]{
    background:transparent;
    border:0;
} */

form {
    padding-top: 10.8%;
    padding-left: 27.6%;
    padding-bottom: 0.1%;
    cursor:auto;
    font-size: 0.1%;

}

button {
    position:flex;
    background: transparent;
    border: transparent;
    color:rgb(197, 189, 189);
    opacity: 0%;
}

