body {
    background-image: url("tardidback.jpeg");
    background-size: 100%;
    background-color: #cccccc;
   }

   img {
       position:relative;
       text-align: center;
       margin-top:2%;
       margin-left: 10%;
   }

h1 {
    text-align: center;
    color: aliceblue;
    margin-top:5%;
    font-size: 80px;
}