
p {
    color: black;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

a{
    position: relative;
    top: -358px;
    left: 185px;
    cursor: default;
}

body {
    background-size: 100%;
}